In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data=pd.read_csv('Corona_NLP_train.csv',encoding='latin-1')
data

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral
1,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,Positive
3,3802,48754,NaN,16-03-2020,My food stock is not the only one which is emp...,Positive
4,3803,48755,NaN,16-03-2020,"Me, ready to go at supermarket during the #COV...",Extremely Negative
...,...,...,...,...,...,...
41152,44951,89903,"Wellington City, New Zealand",14-04-2020,Airline pilots offering to stock supermarket s...,Neutral
41153,44952,89904,NaN,14-04-2020,Response to complaint not provided citing COVI...,Extremely Negative
41154,44953,89905,NaN,14-04-2020,You know itÂs getting tough when @KameronWild...,Positive
41155,44954,89906,NaN,14-04-2020,Is it wrong that the smell of hand sanitizer i...,Neutral
41156,44955,89907,i love you so much || he/him,14-04-2020,@TartiiCat Well new/used Rift S are going for ...,Negative

In [4]:
data.isna().sum()

UserName            0
ScreenName          0
Location         8590
TweetAt             0
OriginalTweet       0
Sentiment           0
dtype: int64

In [5]:
data['Location'].unique()

array(['London', 'UK', 'Vagabonds', ..., 'Juba south sudan', 'OHIO',
       'i love you so much || he/him'], dtype=object)

In [6]:
X_train=data[['OriginalTweet']]
y_train=data[['Sentiment']]
X_train

                                           OriginalTweet
0      @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...
1      advice Talk to your neighbours family to excha...
2      Coronavirus Australia: Woolworths to give elde...
3      My food stock is not the only one which is emp...
4      Me, ready to go at supermarket during the #COV...
...                                                  ...
41152  Airline pilots offering to stock supermarket s...
41153  Response to complaint not provided citing COVI...
41154  You know itÂs getting tough when @KameronWild...
41155  Is it wrong that the smell of hand sanitizer i...
41156  @TartiiCat Well new/used Rift S are going for ...

[41157 rows x 1 columns]

In [7]:
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
Lemmatizer=WordNetLemmatizer()

In [8]:
#so X contains all sentences now which can be handled with tfidf vectorizer to convert into dense vectors basically X contain list of sentences
def process_sentence(sentence):
    words=sentence.split()
    words=[Lemmatizer.lemmatize(word) for word in words if word not in set(stopwords.words('english'))]
    temp=" ".join(words)
    return temp

In [10]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [15]:
tfidf=TfidfVectorizer(max_features=5000,ngram_range=(1,2)) #will consider the top 5000 features from all the sentences int he particular column
X_train_vectorized=tfidf.fit_transform(X_train['OriginalTweet']).toarray()
print(X_train_vectorized.shape)

(41157, 5000)

In [16]:
X_train_vectorized

array([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.39615951, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [18]:
X_train=X_train_vectorized
X_train

array([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.39615951, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [19]:
print(X_train.shape)

(41157, 5000)